{% extends "base.html" %}
{% block footer %}
    <footer id="footer">
        <span>
            <strong>
                <p id="util"><a href="/" id="u-home">Home</a>
                    &#160;|&#160;
                    <a href="/support/contact/ieeehyderabad" id="u-contact">Contact & Support</a>
                    &#160;|&#160;
                    <a href="http://www.ieee.org/security_privacy.html" id="u-privacy">Privacy &amp; Opting Out of Cookies</a></p>
            </strong>
        </span>
        <span class="pull-right">
            <a href="https://ieee.org" target="_blank">
                <img src="/media/logos/ieee_mb_black.jpg" style="width:162px;height:50px;"alt="IEEE">
            </a>
        </span>
    </footer>
{% endblock %}
