{% extends "base.html" %}
{% block footer %}
    <footer id="footer">
           
            <strong>
                <p id="util"><a href="/" id="u-home">Home</a>
                    &#160;|&#160;
                    <a href="/support/contact/ieeehyderabad" id="u-contact">Contact & Support</a>
                    &#160;|&#160;
                    <a href="http://www.ieee.org/security_privacy.html" id="u-privacy">Privacy &amp; Opting Out of Cookies</a></p>
            </strong>
    </footer>
{% endblock %}
