{% extends "base.html" %}

{% block footer %}
    <footer>
        <div id="footer">
            <hr>
            <p id="util"><a href="/" id="u-home">Home</a> &#160;|&#160; <a href="support/contact/ieeehyderabad.md" id="u-contact">Contact & Support</a> &#160;|&#160; <a href="http://www.ieee.org/accessibility_statement.html" id="u-accessibility">Accessibility</a> &#160;|&#160; <a href="http://www.ieee.org/p9-26.html" id="u-non">Nondiscrimination Policy</a> &#160;|&#160; <a href="http://www.ieee.org/security_privacy.html" id="u-privacy">Privacy &amp; Opting Out of Cookies</a></p>
            
            <p id="util">&copy; Copyright 2017 IEEE Hyderabad Section &ndash; All rights reserved.<br/>
                Room No : 644-645, 6th Floor, Al-Karim Trade Centre<br/> 
                Ranigunj, Secunderabad, Telangana, India, 500003<br/>
            </p>
            <p>Use of this website signifies your agreement to the <a target="" href="http://www.ieee.org/site_terms_conditions.html" id="u-terms"><u>IEEE Terms and Conditions</u></a>.<br />
            A not-for-profit organization, IEEE is the world's largest technical professional organization dedicated to advancing technology for the benefit of humanity.</span><br>
            </br>
            </p>
        </div>
    </footer>
{% endblock %}

